<div class="recipe_form_container">
    <form class="recipe_form" action="http://127.0.0.1:3000/recipes" method="POST">
        <div class="recipe_form_field">
            <label for="title" class="recipe_form_label">Title:</label>
            <input type="text" name="recipe[title]" class="recipe_form_text_input" \
                max_length="50">
        </div>
        <div class="recipe_form_field">
            <label for="prep_time" class="recipe_form_label">Prep Time:</label>
            <input type="number" step="1" name="recipe[prep_time]" class="recipe_form_int_input">
        </div>
        <div class="recipe_form_field">
            <label for="cook_time" class="recipe_form_label">Cook Time:</label>
            <input type="number" step="1" name="recipe[cook_time]" class="recipe_form_int_input">
        </div>
        <div class="recipe_form_field">
            <label for="servings" class="recipe_form_label">Servings:</label>
            <input type="number" step="1" name="recipe[servings]" class="recipe_form_int_input">
        </div>
        <div class="recipe_form_field">
            <label for="origin" class="recipe_form_label">Origin:</label>
            <input type="text" name="recipe[origin]" class="recipe_form_text_input" \
                max_length="100">
        </div>
        <input type="submit" value="Submit" class="recipe_form_submit_btn">
    </form>
    <div class="steps_ingredients_all">
        <div class="section_header">
            All Avaiable Ingredients:
        </div>
        <div class="ingredients_all">
            <% @ingredients.each do |i| %>
            <div class="ingredient">
                <div class="ingredient_item">Item: <%= i.item %></div>
                <div class="ingredient_sequence">Sequence: <%= i.sequence %></div>
            </div>
            <% end %>
        </div>

        <div class="section_header">
            All Avaiable Steps:
        </div>
        <div class="steps_all">
            <% @steps.each do |s| %>
            <div class="step">
                <div class="step_description">Description: <%= s.description %></div>
                <div class="step_sequence">Sequence: <%= s.sequence %></div>
            </div>
            <% end %>
        </div>        
    </div>
</div>