<div class="recipe_form_container">
    <form class="recipe_form" action="" method="POST">
        <div class="recipe_form_field">
            <label for="title" class="recipe_form_label">Title:</label>
            <input type="text" name="title" class="recipe_form_text_input" \
                max_length="50">
        </div>
        <div class="recipe_form_field">
            <label for="prep_time" class="recipe_form_label">Prep Time:</label>
            <input type="number" step="1" name="prep_time" class="recipe_form_int_input">
        </div>
        <div class="recipe_form_field">
            <label for="cook_time" class="recipe_form_label">Cook Time:</label>
            <input type="number" step="1" name="cook_time" class="recipe_form_int_input">
        </div>
        <div class="recipe_form_field">
            <label for="servings" class="recipe_form_label">Servings:</label>
            <input type="number" step="1" name="servings" class="recipe_form_int_input">
        </div>
        <div class="recipe_form_field">
            <label for="origin" class="recipe_form_label">Origin:</label>
            <input type="text" name="origin" class="recipe_form_text_input" \
                max_length="100">
        </div>
        <input type="submit" value="Submit" class="recipe_form_submit_btn">
    </form>
</div>