:root{
    --box-shadow: 3px 3px 3px -1px rgba(130,130,130,1);
}
body{
    width: 80%;
    margin: 0 auto;
}
/* NAV */
.nav_container{
    box-shadow: var(--box-shadow);
    width: 98%;
}
.nav_btn{
    width: 33%;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 220%;
    cursor: pointer;
}
.nav_btn:hover{
    background-color: grey;
}
.title:hover{
    background-color: inherit;
    cursor: default;
}
.main,
.content,
.footer{
    padding: 1em;
}