:root{
    --box-shadow: 2px 3px 0px -1px rgba(130,130,130,1);
    /* colors */ 
    /* #notadesigner */
    --reddish: #DE9090;
    --yellowish: #F7FFD0;
    --yellowish-alt: #E8FA93;
    --greenish: #BDFFE9;
    --pinkish: #FFBDD3;
}
body{
    margin: 0 auto;
    background-image: url("../images/food.png");
    font-family: 'Lato', serif;
    font-size: 110%;
    position: relative;
}
/* COMMON */
.hide{ display: none; }
.display { display: block;}
.reddish{
    background-color: var(--reddish) !important;
}
.validation_error{
    background-color: var(--reddish);
    padding: 0.3em;
    border-radius: 3px;
    width: auto;
}
.content{
    padding-bottom: 60px;
    width: 80%;
    margin: 0 auto;
}
.main{
    position: relative;
}
/* NAV */
.nav_container{
    position: relative;
    box-shadow: var(--box-shadow);
    width: 100%;
    left: 0;
    background-color: #F0EBED;
}
.nav_btn{
    width: 33%;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 220%;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #F0EBED;
}
.nav_btn:hover{
    background-color: grey;
}
.nav_btn:hover{
    color: white;
}
.title:hover{
    background-color: inherit;
    cursor: default;
    color: black;
}
.main,
.content,
.footer{
    padding: 1em;
}
/* RECIPE NEW.HTML */
.new_recipe_container,
.forms_container,
.forms_headers_container,
.forms_forms_container{
    display: block;
}
.forms_forms_container{
    width: 100%;
    background-color: var(--yellowish);
    padding: 1em;
    border-radius: 10px;
}
.form_header,
.recipe_form{
    display: inline-block;
}
.form_header{
    margin-bottom: 15px;
    font-size: 125%;
}
.recipe_form{
    width: 100%;
}
.steps_ingredients_all_btn{
    margin: 1em;
    cursor: pointer;
}
.recipe_form_field{
    display: block;
    margin: 0.8em auto;
}
.recipe_form_field > *{
    display: inline-block;
}
.recipe_form_label{
    width: 100%;
}
.recipe_form_text_input,
.recipe_form_int_input{
    height: 20px;
    width: 100%;
}
.recipe_form_dependency_input{
    height: 20px;
    width: 48%;
}
.dependency_header,
.indiv_dep_header{
    position: relative;
    margin: 0.7em auto;
}
.dependency_header > span,
.indiv_dep_header > span{
    position: absolute;
    right: 0%;
}
.recipe_form_ingredients_container{
    display: block;
}
.indiv_ing,
.indiv_step{
    display: block;
}
.add_ingredient_btn,
.add_step_btn{
    cursor: pointer;
    background-color: #E6E6E6;
    width: 45%;
    text-align: center;
    padding: 0.3em;
    border-radius: 0.4em;
    box-shadow: var(--box-shadow);
    margin-bottom: 50px;
}
.ing_remove_btn,
.ing_step_btn{
    background-color: var(--reddish);
    cursor: pointer;
    width: 40%;
    text-align: center;
    padding: 0.3em;
    border-radius: 0.4em;
    box-shadow: var(--box-shadow);
    float: right;
}
.recipe_form_1,
.recipe_form_2,
.recipe_form_3{
    display: inline-block;
    width: 29%;
    margin: 1em;
    vertical-align: top;
}
.recipe_submit_btn{
    vertical-align: bottom;
    background-color: #53E889;
    text-align: center;
    padding: 0.3em;
    border-radius: 0.4em;
    width: 135px;
    height: 50px;
    font-size: 100%;
    float: right;
}
.form_header2{
    font-size: 140%;
    font-weight: bold;
}
.size_options_containter{
    display: block;
}
.size_option{
    display: inline-block;
    padding: 0.5em;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: 0.2em;
}
.size_option:hover{
    background-color: #E6E6E6;
}
/* RECIPE INDEX.HTML */
.recipe_list_container{
    background-color: var(--yellowish);
    padding: 1em;
    border-radius: 10px;
    width: 105%;
}
.table_header{
    display: block;
}
.table_data_data,
.table_header_item{
    width: 16%;
    text-align: center;
}
.table_header_item{
    display: inline-block;
}
.table_data_each{
    display: block;
    margin-top: 2em;
    margin-bottom: 1em;
}
.table_data_data{
    display: inline-block;
}
.table_btn_container{
    display: inline-block;
    width: 15%;
}
.table_btn{
    text-decoration: none;
    color: white;
    background-color: grey;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    width: 30%;
}
.table_btn_delete{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: grey;
    cursor: pointer;
    margin-left: 5px;
    padding: 0.5em;
    text-align: center;
    border-radius: 4px;
    height: 120%;
    width: 30%;
}
.recipe_title{
    text-decoration: none;
    color: white;
    border-radius: 4px;
    background-color: grey;
    text-align: center;
    padding: 0.2em;
}
.recipe_title:hover{
    background-color: black;
}
.linebreak{
    color: var(--yellowish-alt);
    width: 80%;
    float: left;
}
/* INGREDIENT NEW */
.ingredient_form > div,
.step_form > div{
    margin: 1em;
}
.ingredient_seq,
.ingredient_item,
.ingredient_recipe_id,
.step_num,
.description,
.step_recipe_id{
}
.step_num,
.description,
.step_recipe_id{
    display: block;
}
.ingredient_seq{
    display: block;
    width: auto;
}
.ingredient_item{
    display: block;
}
/* RECIPES SHOW */
.recipe_detail_container > div{
}
.recipe_show_recipe,
.recipe_show_ingredients,
.recipe_show_steps{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    
}
.show_btn{
    text-decoration: none;
    color: white;
    background-color: grey;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0.5em;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    width: 10%;
    float: right;
}
.recipe_show_data{
    padding: 1em;
}
/* RECIPES EDIT */
.recipe_edit_form > div{
    margin: 1em;
    display: block;
}
.recipe_edit_form input{
    display: block;
    width: 75%;
}
.recipe_edit_btn_submit{
    width: auto !important;
}
.recipe_form_select_input{
    width: auto !important;
    display: block;
    margin: 1em;
}
