<% @ingredients.each do |ingredient| %>
    <div class="">
        <div class="">
            Item: <%= ingredient.item %>
        </div>
        <div class="">
            Recipe ID: <%= ingredient.recipe_id %>
        </div>
        <a href="http://127.0.0.1:3000/ingredients/<%= ingredient.id %>/edit">Edit</a>
        <a href="http://127.0.0.1:3000/ingredients/<%= ingredient.id %>/?delete">Delete</a>
    </div>
<% end %>
